.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel .thumbs-wrapper,
.carousel-status {
  display: none;
}
.carousel.carousel-slider .control-arrow:hover {
  background: transparent;
}
.parent-loader {
  background-color: #231e3d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.font-link {
  font-family: "Manrope", sans-serif;
}
.c-btn span:first-child {
  transform: translateX(-101%);
  transition: transform 0.3s ease-in;
}
.c-btn:hover span {
  transform: translateX(0);
}
.socials .footer-div span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}
.socials span {
  transition: transform 0.2s ease-out;
}

.socials .footer-div:hover span:first-child {
  transform: translateY(100%);
}

.socials .footer-div:hover span:last-child {
  transform: none;
}
.boy-illustration {
  transform-origin: center;
  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform 225ms ease-out;
}
.boy-illustration:hover {
  transform: scale(1) rotateX(30deg) rotateY(0deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.scrollTop {
  position: fixed;
  width: auto;
  bottom: 20px;
  right: 30px;
  height: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }}

.scrollTop:hover {
  opacity: 1;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@media screen and (max-width: 768px) {
  .contact-btn {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  :placeholder-shown {
    font-size: 12px;
  }
}
@media screen and (min-width: 424px) and (max-width: 500px) {
  .submit-btn {
    top: 7%;
  }
}

